.FormMovie {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    }

.FormMovie h3 {
    text-align: center;
    }

.form-data {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.FormMovie .form-data {
    display: flex;
    justify-content: center;
    margin: 5px 0;
    }
    
.FormMovie .form-data label {
    display: inline-block;
    width: 310px;
    margin-right: 10px;
    text-align: right;
    }

.FormMovie .form-data input:not([type="submit"]) {
flex-grow: 1;
}